/*Fuentes*/

@font-face {
    font-family: "Avenir"; /*Nnombre asignado*/
    src: url("../fonts/Avenir-Book.ttf");
}

/*Reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit; /*Quitamos el color por defecto de los navegadores y establecemos heredado*/
}

/*Generales*/
html{
    font-size: 20px;
}
@media (max-width: 440px) {
    html{
        font-size: 18px;
    }   
}

body{
    font-family:"Avenir", sans-serif;
    color: #67666e;
}

img{
    max-width: 100%; /*Imagenes responsive, para que no se desborden*/
}

p{
    margin-bottom: 0.8rem;
}


/*Hero*/
.hero{
    width: 100%;
    height:100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes heroanimation{
    0%{ opacity:0;
        animation-timing-function: ease-in;}
    
    12%{opacity:1;}
    
    25%{transform: scale(1.2);}
    
    75%{ opacity:0; 
         transform: scale(1.1);}
    
    100%{opacity:0;}
    }    

.hero div{
    width: 100%;
    height:100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: none;  
    opacity: 0; /*No veremos su contenido porque esta invisible*/
    animation: heroanimation 18s infinite; 
}

.hero div:nth-child(1){
    background-image: url("../img/front1.jpg");
}

.hero div:nth-child(2){
    background-image: url("../img/front2.jpg");
    animation-delay: 6s; /*Retraso en el inicio de la animación*/
}

.hero div:nth-child(3){
    background-image: url("../img/front3.jpg");
    animation-delay: 12s;
}

.hero .hero-logo{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: none;
    width: 30%;
    height:auto;
    opacity: 1;
}

.hero .hero-down{
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: none;
    width: 5%;
    height:auto;
}

@media (max-width: 720px) {
    .hero .hero-logo{
        width:60%;
    }
    .hero .hero-down{
        width:15%;
    }   
}
@media (max-width: 440px) {
    .hero .hero-logo{
        width:80%;
    }
    .hero .hero-down{
        width:20%;
    }   
}

/* Header */
header{
    background-color:white;
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height:80px; /*Se suele dar este ancho siempre*/
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 1em;
    transition: 600ms all ease-in-out;
}

header.transparente{
    background-color:transparent;
    box-shadow:none;
}

header img{
    height:60px; /*Proporcionada a los 80px del padre*/
    width: auto;
}

header nav a{
    color:#67666e;
    font-weight:normal;
    margin-left:1em;
    transition: 100ms ease-in-out all;
}
header.transparente nav a{
    color:rgba(255, 255, 255, 0.9);
}

header nav a.activo,
header nav a:hover{
    color:#a97c50;
    font-weight:bold; 
}
header.transparente nav a.activo,
header nav a:hover{
    color:white;
}

/* Menu Lateral */

/* Boton burguer solo para pantallas de smathphone */
#burguer{
    position:fixed;
    top:1rem;
    left:1rem;
    cursor:pointer;
    z-index: 10;
    display:none; /*Aparece solo en smarthphone*/
}

#burguer .barra{
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: all 400ms ease-in-out;
}

#burguer.abierto .barra{
    background-color: white;
}

#burguer.abierto .barra.superior{
    transform: translateY(8px) rotateZ(45deg);
}

#burguer.abierto .barra.media{
    width:0;
}

#burguer.abierto .barra.inferior{
    transform:translateY(-8px) rotateZ(-45deg);
}

@media (max-width: 620px) {
    #burguer{
        display:block; /*Aparece menu burguer*/
    }
    header nav{
        display:none; /*Desaparece barra de navegacion*/
    }
    header{
        justify-content:flex-end; /*Logo queda como unico elemento y pasa al final*/
    }
}

/* Parametros menu */
.menu{
    width:360px;
    height:100vh;
    background-color: #424242;
    position:fixed; /*Posicionamos menu*/
    top: 0;
    left: -360px;
    padding-top:40px;/*Para que no pise las barras*/
    transition: all 700ms ease-in-out;
}

.menu.abierto{
    left:0;
}

.menu nav{
    padding: 1rem;
    display:flex;
    flex-direction: column; 
}

.menu nav a{
    padding: 0.6rem 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1rem;
    transition: 300ms all ease-in-out;

}

.menu nav a:hover{
    color: white;
}

.menu .copyright{
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
    position: absolute; /*Regla de oro, si estoy posicionando absolute en copyrith su padre (menu) debe estar posicionado tambien*/
    bottom:0;
    left:0;
    padding:0.5rem;
    width:100%; /*Ancho del 100% y luego centramos*/
    text-align:center;  
}

/* Layout */

.primera{
    margin-top: 100vh;
}

#pr,
#legal,
#cookies{
    display:block;
    margin-top:-90px;
    padding-bottom:90px;
    
}

.fila{
    display:flex;
    padding:2rem 1rem;
}

.fila.contacto{
    margin-top:80px;
}

/*Ocupa 100% de la fila*/
.col-100{
    width:100%;
    padding: 0.5rem 1rem;
}

/*Ocupa 75% de la fila*/
.col-75{
    width:75%;
    padding: 0.5rem 1rem;
}

/*Ocupa 2/3 de la fila*/
.col-66{
    width:66.66666%;
    padding: 0.5rem 1rem;
}

/*Ocupa 50% de la fila*/
.col-50{
    width:50%;
    padding: 0.5rem 1rem;
}

/*Ocupa 1/3 de la fila*/
.col-33{
    width:33.33333%;
    padding: 0.5rem 1rem;
}

/*Ocupa 25% de la fila*/
.col-25{
    width:25%;
    padding: 0.5rem 1rem;
}

@media (max-width: 720px) {
    .fila{
        flex-direction: column; /*Cambiamos la direccion a columnas*/
        padding:1rem 0.5rem;
    }

    /*Ajustamos el ancho de las columnas al 100%*/
    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25{
        width:100%;
    }
}

/* Columna centrada */
.flex-columna-center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* Flex start */
.flex-start{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

/* Flex Center */
.flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Flex end */
.flex-end{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

/* Space between */
.flex-space-between{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* Space around */
.flex-around{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

/* Espaciados y margenes grandes*/
.m-t{
    margin-top:1rem;
}

.m-b{
    margin-bottom:1rem;
}

.m-l{
    margin-left:1rem;
}

.m-r{
    margin-right:1rem;
}


/* Espaciados y margenes pequeños*/
.m-t-small{
    margin-top:0.5rem;
}
.m-b-small{
    margin-bottom:0.5rem;
}

.m-l-small{
    margin-left:0.5rem;
}

.m-r-small{
    margin-right:0.5rem;
}



/* Parallax */
.fila.parallax{
    background-image: url("../img/property5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Imagen fija Parallax*/
}

.fila.parallax div{
    background-color: rgba(255, 255, 255, 0.753);
    padding: 3rem 2rem;
}

.fila.parallax div p{
    font-size:1.5rem;
    color:#a97c50;
    text-align:center;
}

/* Caja de navegación */
.caja-nav img{
    width:20%;
    margin-bottom: 1em;
}

.caja-nav a{
    border: 1px solid #a97c50;
    background-color: white;
    color: #a97c50;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius:0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

.caja-nav a:hover{
    background-color: #a97c50;
    color: white;
}

/* Formulario de contacto */

form.contacto{
    width: 50%;
}

/*Para tablets*/
@media (max-width: 720px) {
    form.contacto{
        width: 75%;
    } 
}

/*Para mobiles*/
@media (max-width: 440px) {
    form.contacto{
        width: 100%;
    } 
}

input{
    border: none;
    border-bottom: 1.5px solid #a97c50;
    font-size:1rem;
    padding: 0.5em 1em;
    width: 100%;
}

/*Al hacer click en el input*/

form.contacto .fila{
    padding: 0.8rem;
}

input:focus{
    outline: none; /**/
    border-bottom: 1.5px solid #774c22;
}

input.usuario{
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left:2em;
}

input.e-mail{
    background-image: url("../img/mail-bronce.svg");
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left:2em;
}

button{
    border: none;
    background-color: #a97c50;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius:0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

button:hover{
    background-color: #835527;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label::before{
    content: url(../img/square.svg);
    position: relative;
    top: 5px;
    padding-right: 5px;
}

input[type="checkbox"]:checked + label::before{
    content: url(../img/check-square.svg);
}

/* Footer */
footer{
    background-color: #424242;

}

footer p{
    color: rgba(255, 255, 255, 0.815);
}

footer p:first-child{
    color: #a97c50;
    font-weight: bold;
}

footer img.rrss{/*Redes sociales*/
    height:48px;
}

footer a{
    font-size:0.8rem;
    color:#a97c50;
    transition:400ms ease-in-out all;
}

footer a:hover{
    color:#865b30;
}

p .copyright{
    color: rgba(255, 255, 255, 0.815);
    font-size:0.8rem;
    text-align: center;
}

/* Card Ventas */

/* Para que el navegador se encargue de repartir las tarjetas por columnas hasta que quepan en la ventana */
.fila.grid{
    margin-top:100px;
    display:grid; /*Rejilla*/
    grid-template-columns: repeat(auto-fit, 360px);
    gap:1.2rem; /*Distanciamiento entre tarjetas*/
    justify-content:center;
}

.card{
    width: 360px;
    border-radius:0.5rem;
    box-shadow:2px 2px 4px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card img{
    height:320px;
}

.card .footer-card{
    padding: 0.8rem; 
    width: 100%;
    height: 174px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
}

.card .footer-card p{
    margin-bottom:0.5rem;
}

.card .footer-card p:first-child{
    font-weight: bold;
}

.card .footer-card a{
    background-color:#a97c50;
    color:white;
    font-size: 0.8rem;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    align-self: center;
    transition: 400ms all ease-in-out;
}

.card .footer-card a:hover{
    background-color:#805831;
}

/* Detalle Ficha Propiedad */

.propiedad{
    margin-top:80px;
    background-image: url('../img/property5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.propiedad div:first-child{
    background-color: rgba(255, 255, 255, 0.90);
}

.propiedad div:first-child h1{
    font-size:1.40rem;
    color:#a97c50;
}

.propiedad div:first-child p img{
    width: 20px;
    height: 20px;
}
